
body{
    height: 100dvh;
    margin: 0;
}.ui{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.ui *{
    margin: 10px;
}

.gameBoard{
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: aqua;
    align-self: center;
    border-radius: 5px;
    padding: 40px;
    border-radius: 35px;
    border: 10px solid black;
    box-shadow:  10px 5px 20px black;
}

.playerSelec{
    align-self: center;
    margin: 20px;
}

.playerSelec>button{
    padding: 10px;
    width: 75px;
    border-radius: 5px;
}
.square{
    margin: 0px;
    border-right: solid black 5px;
    border-bottom: solid black 5px;
}
.square-r{
    margin: 0px;
    border-bottom: solid black 5px;
}
.square-b{
    margin: 0px;
    border-right: solid black 5px;
}
.gameBoard>div{
    font-size: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
p{
    align-self: center;
    height: 100%;
}
.restart{
    width: 150px;
    height: 40px;
    align-self: center;
    margin-top: 45px;
    border-radius: 5px;
    padding: 10px;
    
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay.actived {
    display: block;
}
.winDisplay{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    text-align: center;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    background-color: white;
    border: black 10px solid;
    margin: 0;
    padding: 20px;
}
.winDisplay.actived{
    transform: translate(-50%, -50%) scale(1);
}
#overlay{
    margin: 0;
}
.x.actived{
    background-color: rgba(0, 0, 255, 0.637);
}
.o.actived{
    background-color: rgba(0, 0, 255, 0.637);
}